p {
    color: #000000;
}

#page-top {
    color: #000000;
}

#headerPic {
    height: 13em;
    border-top: 4px groove #ff1493;
    border-left: 4px groove #e6b800;
    border-right: 4px groove #00b300;
    border-bottom: 4px groove #1e90ff;
}

#me {
    height: 400px;
    margin: auto;
}

#aboutMe {
    margin: auto;
}

#logo {
    color: #000000;
}

header {
    background: url('../img/polkaDots.jpg');
}

#title {
    font-family: 'Spicy Rice', cursive;
    font-family: 'Fredericka the Great', cursive;
    ;
}

.btn:hover {}

#contactStyles {
    background-image: url(../img/darkPolka.jpg);
}