p {
    color: #000000;
}

#page-top {
    color: #000000;
}

#headerPic {
    height: 300px;
    border-top: 4px groove #ff1493;
    border-left: 4px groove #e6b800;
    border-right: 4px groove #00b300;
    border-bottom: 4px groove #1e90ff;
    margin: auto;
}

#me {
    height: 300px;
    margin: auto;
    border-top: 5px solid #ff1493;
    border-left: 5px solid #e6b800;
    border-right: 5px solid #00b300;
    border-bottom: 5px solid #1e90ff;
}

#aboutMe {
    margin: auto;
}

#logo {
    color: #000000;
}

header {
    background: url('../img/polkaDots.jpg');
}

#title {
    font-family: 'Spicy Rice', cursive;
    font-family: 'Fredericka the Great', cursive;
    ;
}

.btn {
    font-size: 18px;
}

.btn:hover {}

#contactStyles {
    background-image: url(../img/darkPolka.jpg);
}

input {
    margin-top: 30px;
    font-size: 14px;
    border: solid black 1px;
    padding: 5px;
    width: 60%;
}

textarea {
    margin-top: 30px;
    font-size: 14px;
    padding: 5px;
}

#exampleTextarea {
    border: solid black 1px;
    padding: 5px;
    width: 60%;
}

@media (max-width: 600px) {
    input {
        width: 95%;
    }
    #exampleTextarea {
        width: 95%;
    }
}

#send {
    color: #000000;
    border: 1px solid;
    background-color: #f5f5dc;
    width: 80px;
}

#send.active,
#send:active,
#send:focus,
#send:hover {
    color: #000000;
    background-color: #fdcc52;
    border-color: #fdcc52
}

#send {
    border-radius: 300px;
    padding: 10px;
    font-size: 20px;
}

#footerText {
    color: #f5f5dc
}

.img-circle {
    border-radius: 50%;
}

.pinkText {
    color: #ff1493;
}

.blueText {
    color: #1e90ff;
}

.greenText {
    color: #00b300;
}

.yellowText {
    color: #e6b800;
}

#diagnosis {
    margin-top: 0px
}